header {
  height: 500px;
  text-align: center;
  background: url("if.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
}

section {
  padding: 50px 20px;
}

header h3 {
  display: inline;
  background-color: #ffaf50;
}

.intro {
  background-color: #b897f0;
}

.intro a {
  color: black;
}

.setores {
  background-color: #ccc;
}

.setor-imgs img {
  border-radius: 50%;
  width: 100px;
}

.active {
  background-color: #eee;
}

.hidden {
  display: none;
}

.areas {
  background-color: #77dd77;
}

.gincanas {
  background-color: #f4c2c2;
}
